@model WebClinicaMVC.Models.Consulta

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfissionalId" class="control-label"></label>
                    <select asp-for="ProfissionalId" class="form-control" asp-items="@ViewBag.Profissionais"></select>
                    <span asp-validation-for="ProfissionalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                    <select asp-for="PacienteId" class="form-control" asp-items="@ViewBag.Pacientes"></select>
                    <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraConsulta" class="control-label"></label>
                <input asp-for="DataHoraConsulta" class="form-control" name="DataHoraConsulta" />
                <span asp-validation-for="DataHoraConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
